/*-------------
 CSS RESET 
--------------*/

* {
  padding: 0;
  border: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

body {
  font-size: 12px;
}

/*-------------
--------------*/

@-webkit-keyframes animate-gradient {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes animate-gradient { 
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

.index_container {
  padding-top: 60px;
  padding-bottom: 40px;
  display: block;
  width: 520px;
  margin: 0 auto;
}

.index_inner {
  display: inline-block;
  width: 520px;
  margin: 0 auto;
}

.index {
  float: left;
  width: 130px;
  margin: 0 auto;
}

.index_title {
  text-align: center;
  font-weight: regular;
  font-family: IBMPlexMono;
  font-size: 13px;
  color: #929292;
  letter-spacing: -0.73px;
  line-height: 34px;
}

.index_title_selected {
  text-align: center;
  font-weight: regular;
  font-family: IBMPlexMono;
  font-size: 13px;
  color: black;
  letter-spacing: -0.73px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #ffcbcb;
}

.index:after {
  clear: both;
  content: "";
  display: block;
}

/*-------------
--------------*/

.date_container {
  padding-top: 10px;
  text-align: center;
  width: 1000px;
}

.date {
  font-size: 20px;
  color: #000000;
  text-align: center;
  width: 1000px;
  margin-top: 20px;
}
.date_des {
  margin-top: 10px;
  margin-bottom: 40px;
  opacity: 0.5;
}

#galleryZone {
  padding-top: 200px;
  margin: 0 auto;
  width: 1000px;
  height: 540px;
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(45deg, #fdfc47, #24fe41, #83a4d4, #b6fbff);
  background-size: 800% 800%;
  -webkit-animation: animate-gradient 30s ease infinite;
  animation: animate-gradient 30s ease infinite;
}

#photo {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  padding-left: 300px;
}

.btn_container {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

.btn {
  width: 50px;
  height: 30px;
  background-color: white;
  border-radius: 4px;
}
