/*-------------
 CSS RESET 
--------------*/

* {
  padding: 0;
  border: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

body {
}

/*-------------
--------------*/

.date {
  font-size: 20px;
  color: #000000;
  text-align: center;
  width: 1200px;
  margin-bottom: 100px;
}

#galleryZone {
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  padding: 30px;
  border-radius: 10px;
  background-image: linear-gradient(-45deg, #ffecd2 0%, #ffa835 100%);
}

#photo {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  padding-left: 300px;
}

.btn_container {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}

.btn {
  width: 40px;
  height: 30px;
  background-image: linear-gradient(-45deg, #fe3f17 0%, #ffa835 100%);
  border-radius: 4px;
}
